/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import 'bootstrap/dist/css/bootstrap.min.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.app-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .main-content {
    flex: 1;
    margin-top: 64px;
    padding: 20px 0;
  }
  .error-snackbar {
    background-color: #f44336;
    color: white;
  }
  
  .success-snackbar {
    background-color: #4caf50;
    color: white;
  }